version: 'build-{build}-{branch}'

os: unstable
image: Visual Studio 2017   # на этом VM-образе установлены все Visual Studio с 2008 по 2015
   
build:
  verbosity: detailed
  
init:
    # секция инициализации, исполняется до клонирования проекта
    # скорее всего, строчка ниже необязательна (так должно быть по умолчанию),
    # вместе с тем, она присутствует в официальных примерах, так что пусть будет:
    - git config --global core.autocrlf input
clone_folder: c:\src # выбираем локальную директорию для клонирования
shallow_clone: true              # копируем только последний коммит, без истории (git clone --depth 1)

matrix:
    fast_finish: true           # останавливаемся после возникновения ошибки в каком-то из заданий

platform:
    # будем гонять CI на amd64 и x86...
    - x64    
    - x86

configuration:
    - Release

environment:
    CODECOV_TOKEN:
        secure: e8qe5I3ngSiMDPZsLfLBP7iCZJHrFD8gsXAYTkfQ1HL09UBk10s4vWNEDVMnFoM8
    BUILD_CONFIG: $(configuration)
    COVERALLS_REPO_TOKEN:
        secure: /W0ImKAfLG96HA1nlkhhW0ntoJCRq7wps5
    APPVEYOR_RDP_PASSWORD: 1234as!&
    matrix:
        - TOOLCHAIN: msvc15
install:
    - call "C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Auxiliary\Build\vcvars64.bat"
    - cmd: echo "Downloading conan..."
    - ps: pip install conan
    - cmd: set PATH=%PATH%;C:\Program Files (x86)\Conan\conan
    - cmd: conan --version
    - cmd: ECHO %PROCESSOR_ARCHITECTURE%
    - cmd: reg query "HKLM\System\CurrentControlSet\Control\Session Manager\Environment" /v PROCESSOR_ARCHITECTURE
    - cmd: echo %CONFIGURATION%

branches:
  only:
    - master
    - develop

build_script:
  # - cmd: conan install -o gtest:shared=True
  - cmd: conan install
  - cmd: dir
  - cmd: protoc message.proto --cpp_out="."
  - cmd: mkdir build
  - cmd: cd build
  # - cmd: cmake ../ -DBUILD_TEST=TRUE  -G "Visual Studio 14 2015 Win64"
  # - cmd: cmake --build . --config Release

  - cmd: cmake .. -G "Visual Studio 14 2017 Win64"
  - cmd: cmake --build . --config %CONFIGURATION%

test_script:
  - cmd: cd bin
  - cmd: dir

on_failure:
    - type build.log
on_finish:
    #- ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))

artifacts:
    - path: ./%PROCESSOR_ARCHITECTURE%/Release/
      name: artifacts